click==8.0.3
Flask
Flask-SQLAlchemy==2.5.1
greenlet
itsdangerous==2.0.1
Jinja2
MarkupSafe==2.0.1
PyMySQL==1.0.2
SQLAlchemy==1.4.29
Werkzeug
numpy
scikit-image
torch
torchvision
pillow
opencv-python
paddlepaddle
paddlehub
gradio