click
Flask
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
PyMySQL
SQLAlchemy
Werkzeug
numpy
scikit-image
torch
torchvision
pillow
opencv-python
paddlepaddle
paddlehub
gradio
protobuf==3.20.0
onnx==1.12.0
paddlenlp
Flask-Babel
visualdl
